@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center h-100 w-100">
    <h1 class="display-4 text-black">Bem-Vinde</h1>
    <p>Site teste <strong>.NET Core</strong>.</p>
    <div class="container text-center">
        <div class="row gap-3">
            <div class="col-12 col-md bg-dark text-light rounded-3 p-3">
                <div class="w-100 justify-content-start text-start mb-3">
                    <img class="img-fluid" style="height: 15px;" src="/img/menuApple.png" />
                </div>
                <h3>Estados</h3>
                <div class="rounded-circle bg-white p-4 d-inline-block">
                    <img class="img-fluid" style="height: 80px;" src="/img/estado.png" />
                </div>

                <p class="mt-5">Aqui você pode gerenciar seus Estados</p>
            </div>
            <div class="col-12 col-md bg-dark text-light rounded-3 p-3">
                <div class="w-100 justify-content-start text-start mb-3">
                    <img class="img-fluid" style="height: 15px;" src="/img/menuApple.png" />
                </div>
                <h3>Cidades</h3>
                <div class="rounded-circle bg-white p-4 d-inline-block">
                    <img class="img-fluid" style="height: 80px;" src="/img/cidade.png" />
                </div>
                <p class="mt-5"> Aqui você pode gerenciar suas Cidades</p>
            </div>
            <div class="col-12 col-md bg-dark text-light rounded-3 p-3">
                <div class="w-100 justify-content-start text-start mb-3">
                    <img class="img-fluid" style="height: 15px;" src="/img/menuApple.png" />
                </div>
                <h3>Clientes</h3>
                <div class="rounded-circle bg-white p-4 d-inline-block">
                    <img class="img-fluid" style="height: 80px;" src="/img/cliente.png" />
                </div>
                <p class="mt-5">Aqui você pode gerenciar seus Clientes</p>
            </div> 
        </div>

    </div>
</div>
